body {
    background-image: url('/Users/kevin/Documents/UAB/2021 Summer/621/Homework/HW 1/image/pexels-ruvim-3560044.jpeg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow: auto;
}

#box {
    width: 700px;
    height: 100px;
    margin: 0px 0px;
}

.button {
    font: bold 30px Times New Roman;
    width: auto;
    height: 60px;
    padding: 5px;
    margin-right: 5px;
    padding: 10px 15px;
    letter-spacing: 2px;
    background-color: #A6F7AF;
}

.button:hover {
    background-color: #72F681;
}

.button:active {
    background-color: #FFFFFF;
}

.button:visited {
    color: red;
    background-color: chartreuse;
}

.info h2 {
    font: bold 50px Times New Roman;
    font-weight:bold;
    color: #F5ED0B;
}
.info a {
    color: #F50B39;
    text-decoration: underline;
    font-style: italic;
}
